<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success row ">
            GEEKS DATA CONSULTING
          </div>
          <div class="card-body">
        
            GEEKS DATA est un éditeur de solutions logicielles (data science – textmining) au service des objectifs métiers de nos clients.

            Nous accompagnons plusieurs organisations de différentes tailles dans leurs projets Data.
            
            Nous consacrons ainsi une partie de notre activité dans la recherche et l’innovation dans le domaine prédictif ou la génération textuelle automatique
            
            Site web    http://www.geeksdata.fr/

            Secteur      Logiciels informatiques

            Siège social   Ariana, Pôle Technologique El Gazela

            Fondée         en2016
            
            Spécialisations     editeur logiciel, data science et text mining
        </div>
      </div>
    </div>
  </div>
</div>
