<div class="card">
    <div class="card-header card-header-success row ">
        <div class="col-12">
            <h4 class="card-title mt-0"> Ajout de sujet </h4>
        </div>
    </div>
    <div class="card-body">
        <form class="example-form" [formGroup]="sujetForm">

            <div class="row">
               <div class="col-6">
            <mat-form-field class="example-full-width">
                <input matInput formControlName="titre" placeholder=" Titre">
                <mat-error *ngIf="sujetForm.controls.titre.hasError('required')">
                    titre is required.
                </mat-error>
            </mat-form-field>
        </div> 
        <div class="col-6">
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="description" placeholder="Descrption"></textarea>
                <mat-error *ngIf="sujetForm.controls.description.hasError('required')">
                    Descrption is required.
                 </mat-error>
              </mat-form-field>
        </div> 
     </div>   
             <button mat-raised-button (click)="submitClient()" class="btn btn-success pull-right">  <span class="material-icons">
                add_task
               </span> save</button>
                     
             
        </form>
    </div>
</div>