<div class="card">
    <div class="card-header card-header-success">
        <h4 class="card-title ">Details Sujet</h4>
      
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table [formGroup]="sondageForm">
                <tr>
                    <th>  Titre </th>
                    <td>  <input type="text" formControlName="titre" readonly class="form-control-plaintext" id="staticEmail2"> </td>
                </tr>
                <tr>
                    <th>  Description </th>
                    <td>  <input type="text" formControlName="description" readonly class="form-control-plaintext" id="staticEmail2"> </td>
                </tr>
                <tr>
                    <th> Votre choix </th>
                    <td> <input type="text" formControlName="choix" readonly class="form-control-plaintext" id="staticEmail2">  </td>
                </tr>
                <tr>
                    <th> Nombre de vote </th>
                    <td> <input type="text" formControlName="nombreDeVote" readonly class="form-control-plaintext" id="staticEmail2">  </td>
                 </tr>
                 <tr>
                    <th> pourcentage de vote </th>
                   {{pourcentage| percent}}
                 </tr>
            </table>

            <mat-dialog-actions align="center">
                <button class="mat-raised-button btn btn-success  pull-right" (click)="close()">Close</button>
            </mat-dialog-actions>
        </div>
    </div>

</div>

